body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.Cube__Pane {
  background: white;
  overflow: hidden;
}
.cube .container-nav {
  position: absolute;
  width: 100vw;
  z-index: 20;
  color: whitesmoke;
}
.cube .container-nav .nav-logo {
  filter: invert(100%);
}
.cube .container-nav .nav-item {
  padding-right: 20%;
  color: whitesmoke;
}
