.container-genre{
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.container-categories{
  height: 150vh;
  display: flex;
  margin : 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  gap : 100px;
}

.inner { position: relative; height: auto; }

.categorie{
  height: 35vw;
  width: 90vw;
  box-sizing: content-box;
  overflow: hidden;
  border-radius:50px;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.categorie img {
  width: 90vw;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.container-categories .categorie h2 {
  position: absolute;
  z-index: 50;
}

