.container-genre{
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
.categorie{
  border-radius:50px;
  height: 35vw;
  width: 90vw;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.rap{
  background-image: url('../../assets/rap.jpg');
  margin-bottom: 10%;
}

.pop {
  background-image: url('../../assets/pop.jpg');
  margin-bottom: 10%;
}

.metal{
  background-image: url('../../assets/metal.jpg');
  margin-bottom: 10%;
}

.rock{
  background-image: url('../../assets/rock.jpg');
  margin-bottom: 10%;
}

.jazz{
  background-image: url('../../assets/jazz.jpg');
  margin-bottom: 10%;
}

.reggae{
  background-image: url('../../assets/reggae.jpg');
  margin-bottom: 10%;
}

.classic{
  background-image: url('../../assets/classic.jpg');
  margin-bottom: 10%;
}

.electro{
  background-image: url('../../assets/electro.jpg');
  margin-bottom: 10%;
}